$pink: rgb(255,84,136);
$pink-transparent: rgba(255,84,136,0.4);
$pink-hover: rgb(211, 38, 90);

// Typography
$font-family-sans-serif: 'Noto Sans Cham', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;